body{
    margin: 0%;
    padding: 0%;
}
#navbar{
    position: absolute;
    margin: 0%;
    padding: 0%;
    height: 40px;
    width: 100%;
}

#navbar ul{
    margin: 0%;
    padding: 0%;
    position: absolute;
    height: auto;
    width: 100%;
    list-style-type: none;
    background-color: #eeeeee;
    overflow: visible;
}

#navbar ul > li{
    display: block;
    float: left;
    height: auto;
    width: 120px;
}

#navbar li > a{
    display: block;
    padding: 0 0 0 10px;
    height: auto;
    width: 109px;
    border-right: 1px black solid;
    line-height: 30px;
    font-size: 17px;
    text-decoration: none;
    background-color: #eeeeee;
    color: #5d5636;
}

#navbar ul ul{
    margin-top: 2px;
    display: none;
    position: static;
    height: auto;
    width: 160px;
    border: 1px #666666 solid;
    background-color: #dddddd;
}

#navbar ul ul li{
    position: relative;
    float: none;
    display: block;
    height: 28px;
    width: 100%;
    border: none;
}

#navbar ul ul li > a{
    height: 100%;
    width: 96%;
    padding: 0 0 0 4%;
    line-height: 28px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 12px;
}

#navbar li:hover > a{
    color: #220000;
    background-color: #eeeabe;
}

#navbar li:hover > ul{
    display: block;
}