div{
    padding: 1em;
    border: 3px solid black;
    font-size: 300%;
}
p{
    padding: .5em;
}
p.highlighted{
    background-color: #666666;
}
li.highlighted{
    background: rebeccapurple;
}

input [name="email"] {
    color: #999;
}